@import '../styles/index';

@mixin hide($queries...) {
  @each $query in $queries {
    @media #{$query} {
      display: none !important;
    }
  }
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// media queries
$xs: '(max-width: 600px)';
$gt-xs: '(min-width: 601px)';

:host {
  display: block;
  height: 100%;
}

cdk-virtual-scroll-viewport {
  height: 100%;
}

.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  &:not(:last-of-type) {
    padding-right: 16px;
  }

  &:last-of-type {
    padding-right: 5px;
  }
}

.mat-header-row.progress {
  border: none;
  // height: 0;
  min-height: 0;

  .mat-header-cell {
    border: 0;
    padding: 0;
  }

  mat-progress-bar {
    bottom: 0;
    position: absolute;
    transition: height 0.3s, opacity 0.25s linear;

    &:not(.show) {
      height: 0;
      opacity: 0;
    }
  }
}

.menu {
  max-width: 24px;
}

// this compensates for flex display, i.e. not using <table>
.id {
  display: none;
  max-width: 4rem;
}

.type {
  max-width: 17px;
  font-size: 17px;
  flex: 1 0 auto;
}

.name {
  width: 200px;
  flex: 1 0 auto;

  @include hide($xs);
}

.fileName {
  width: 200px;
  flex: 1 0 auto;

  @include hide($xs);
}

.object {
  // flex-direction: row;
  // flex-wrap: nowrap;
  //display: inline-flex;
  // flex-basis: content;
  width: 100px;
  flex: 1 0 auto;

  @include hide($xs);
}

.objectName {
  // flex-basis: content;
  width: 100px;
  flex: 1 0 auto;

  @include hide($xs);
}

.state {
  // flex-basis: content;
  width: 100px;
  flex: 1 0 auto;

  @include hide($xs);
}

.state-info {
  text-transform: capitalize;
  display: flex;
  // align-items: center;
  &:not(:hover) {
    color: $dark-secondary-text;
  }

  .state-icon {
    margin-left: 5px;
    font-size: 1.4em;
  }
}

.createdBy {
  // flex-wrap: nowrap;
  // flex-basis: content;
  width: 100px;
  flex: 1 0 auto;

  @include hide($xs);
}

.changedBy {
  width: 100px;
  flex: 1 0 auto;

  @include hide($xs);
}

.changeDate {
  //flex-basis: 200px;
  // flex-wrap: nowrap;
  width: 150px;
  flex: 1 0 auto;

  @include hide($xs);
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 60px;
  flex: 1 0 auto;

  @include hide($xs);
}

.actions-items {
  @extend %flex-center;

  font-size: 15px;

  & > * {
    margin-left: 5px;
    // color: $dark-secondary-text;

    &:not(:hover) {
      color: $secondary-text;
    }
  }
}

.narrow {
  @include hide($gt-xs);

  &.cell {
    flex-flow: column;
  }

  .narrow-row {
    @extend %flex-center;

    flex-wrap: nowrap;
    width: 100%;
    padding: 1px 0;
  }

  .primary {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  .secondary {
    font-size: 12px;
  }

  .ternary {
    font-size: 12px;
    color: $secondary-text;
  }

  .meta {
    font-size: 11px;
    margin-left: 30px;
  }

  .meta-block {
    @extend %flex-center;

    // width: 200px;
    font-size: 11px;
  }
}

.ms-Icon--WordDocument {
  color: #2e4c81;
}

.ms-Icon--Delete {
  @extend %fadeInHover;

  &:hover {
    color: $warn-default;
  }
}

.table {
  // overflow-x: auto;
}

.row {
  min-height: 27px;
  height: 70px;
  cursor: pointer;

  @media #{$gt-xs} {
    // min-height: 27px;
    height: 27px;
  }

  &:hover {
    background-color: $app-bar;
  }
}

.header {
  white-space: nowrap;

  & > * {
    color: $text;
    font-weight: 600;
  }
}
