<core-table [getData]="getData" [sticky]="sticky" [columns]="columns">
  <core-table-column name="type">
    <ng-template #cell>
      <mat-icon
        class="type-icon"
        fontSet="fabric"
        fontIcon="ms-Icon--WordDocument"
        [inline]="true"
      ></mat-icon>
    </ng-template>
  </core-table-column>
  <core-table-column name="name">
    <ng-template #header>
      Document Name
    </ng-template>
    <ng-template #cell let-row="row">
      {{ row.name }}
    </ng-template>
  </core-table-column>
  <core-table-column name="fileName">
    <ng-template #header>
      File Name
    </ng-template>
    <ng-template #cell let-row="row">
      {{ row.fileName }}
    </ng-template>
  </core-table-column>
  <core-table-column name="object">
    <ng-template #header>
      Related Object
    </ng-template>
    <ng-template #cell let-row="row">
      {{ row.object }}
    </ng-template>
  </core-table-column>
  <core-table-column name="objectName">
    <ng-template #header>
      Object Name
    </ng-template>
    <ng-template #cell let-row="row">
      {{ row.objectName }}
    </ng-template>
  </core-table-column>
  <core-table-column name="state">
    <ng-template #header>
      Status
    </ng-template>
    <ng-template #cell let-row="row">
      <div class="state-info">
        {{ row.menu.state }}<mat-icon class="state-icon" [inline]="true">menu</mat-icon>
      </div>
    </ng-template>
  </core-table-column>
  <core-table-column name="createdBy">
    <ng-template #header>
      Created By
    </ng-template>
    <ng-template #cell let-row="row">
      {{ row.createdBy }}
    </ng-template>
  </core-table-column>
  <core-table-column name="changedBy">
    <ng-template #header>
      Last Modified By
    </ng-template>
    <ng-template #cell let-row="row">
      {{ row.changedBy }}
    </ng-template>
  </core-table-column>
  <core-table-column name="changeDate">
    <ng-template #header>
      Updated Atw
    </ng-template>
    <ng-template #cell let-row="row">
      {{ row.changeDate | date: dateFormat }}
    </ng-template>
  </core-table-column>
  <core-table-column name="actions">
    <ng-template #cell let-row="row">
      <div class="actions-items">
        <mat-icon fontSet="fabric" fontIcon="ms-Icon--Download" [inline]="true"></mat-icon>
        <mat-icon fontSet="fabric" fontIcon="ms-Icon--Delete" [inline]="true"></mat-icon>
        <mat-icon fontSet="fabric" fontIcon="ms-Icon--Info" [inline]="true"></mat-icon>
      </div>
    </ng-template>
  </core-table-column>
  <core-table-column name="narrow">
    <ng-template #cell let-row="row">
      <div class="narrow-row">
        <div class="primary">{{ row.name }}</div>
        <div class="actions-items">
          <mat-icon fontSet="fabric" fontIcon="ms-Icon--Download" [inline]="true"></mat-icon>
          <mat-icon fontSet="fabric" fontIcon="ms-Icon--Delete" [inline]="true"></mat-icon>
          <mat-icon fontSet="fabric" fontIcon="ms-Icon--Info" [inline]="true"></mat-icon>
        </div>
      </div>
      <div class="narrow-row ">
        <div class="secondary">{{ row.object }}:{{ row.objectName }}</div>
        <div class="meta">{{ row.size }}</div>
      </div>
      <div class="narrow-row">
        <div class="ternary">{{ row.changedBy }}</div>
        <div class="meta-block">
          <div class="state-info">
            {{ row.menu.state }}<mat-icon class="state-icon" [inline]="true">menu</mat-icon>
          </div>
          <div class="meta">{{ row.changeDate | date: dateFormat }}</div>
        </div>
      </div>
    </ng-template>
  </core-table-column>
</core-table>
