%slideFromTop {
  animation: slideFromTop 0.3s ease-in-out;
}

%fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

%fadeInShow {
  opacity: 0;

  transition: opacity 0.3s ease-in-out;

  &.show {
    opacity: 1;
  }
}

%fadeInHover {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    height: 0;
  }
  to {
    height: initial;
  }
}
